#####################################################################
; Light Section
;   #TURN_ON_LIGHT_AT_BOOT
;   #KAOS_LIGHTS_OFF_DELAY
;   #KAOS_LIGHTS_ON
;   #KAOS_LIGHTS_OFF
;   #KAOS_LIGHTS_TOGGLE
#####################################################################
[delayed_gcode TURN_ON_LIGHT_AT_BOOT]
initial_duration: 5
gcode:
  {% if printer["gcode_macro _USER_CONFIG"].enable_startup_light|int == 1 %}
    KAOS_LIGHTS_ON
  {% endif %}


[delayed_gcode KAOS_LIGHTS_OFF_DELAY]
gcode:
    KAOS_LIGHTS_OFF
 #UPDATE_DELAYED_GCODE ID=KAOS_LIGHTS_OFF_DELAY DURATION=1200  ; 20 minutes

[gcode_macro KAOS_LIGHTS_ON]
#toggle control LED light in Fluidd or Mainsail
gcode:
        SET_GCODE_VARIABLE MACRO=KAOS_LIGHTS_TOGGLE VARIABLE=toggle_state VALUE=1
        P0 LED_SetState=1

[gcode_macro KAOS_LIGHTS_OFF]
gcode:
        SET_GCODE_VARIABLE MACRO=KAOS_LIGHTS_TOGGLE VARIABLE=toggle_state VALUE=0
        P0 LED_SetState=0

[gcode_macro KAOS_LIGHTS_TOGGLE]
variable_toggle_state: 0
gcode:
    {% if printer["gcode_macro KAOS_LIGHTS_TOGGLE"].toggle_state == 0 %}
        SET_GCODE_VARIABLE MACRO=KAOS_LIGHTS_TOGGLE VARIABLE=toggle_state VALUE=1
# Add G-code commands to execute when state is 1
        P0 LED_SetState=1
    {% else %}
        SET_GCODE_VARIABLE MACRO=KAOS_LIGHTS_TOGGLE VARIABLE=toggle_state VALUE=0
# Add G-code commands to execute when state is 0
        P0 LED_SetState=0
    {% endif %}
