# KAOS_VERSION: v0.95
#####################################################################
; Light Section
;   #TURN_ON_LIGHT_AT_BOOT
;   #KAOS_LIGHTS_OFF_DELAY
;   #KAOS_LIGHTS_ON
;   #KAOS_LIGHTS_OFF
;   #KAOS_LIGHTS_TOGGLE
#####################################################################
[delayed_gcode TURN_ON_LIGHT_AT_BOOT]
initial_duration: 10
gcode:
  {% if printer["gcode_macro _USER_CONFIG"].enable_startup_light|int == 1 %}
    KAOS_LIGHTS_ON
  {% endif %}


[delayed_gcode KAOS_LIGHTS_OFF_DELAY]
gcode:
    KAOS_LIGHTS_OFF
 #UPDATE_DELAYED_GCODE ID=KAOS_LIGHTS_OFF_DELAY DURATION=1200  ; 20 minutes

## State container shared by KAOS_LIGHTS_ON / KAOS_LIGHTS_OFF / KAOS_LIGHTS_TOGGLE.
[gcode_macro _LIGHTS_STATE]
description: State container - chamber-light on/off (read by KAOS_LIGHTS_TOGGLE, written by ON/OFF/TOGGLE)
variable_on: 0
gcode:


[gcode_macro KAOS_LIGHTS_ON]
description: Turn printer light on (sets _LIGHTS_STATE.on=1)
gcode:
        SET_GCODE_VARIABLE MACRO=_LIGHTS_STATE VARIABLE=on VALUE=1
        P0 LED_SetState=1

[gcode_macro KAOS_LIGHTS_OFF]
description: Turn printer light off (sets _LIGHTS_STATE.on=0)
gcode:
        SET_GCODE_VARIABLE MACRO=_LIGHTS_STATE VARIABLE=on VALUE=0
        P0 LED_SetState=0

[gcode_macro KAOS_LIGHTS_TOGGLE]
description: Toggle printer light state (reads + flips _LIGHTS_STATE.on)
gcode:
    {% if printer["gcode_macro _LIGHTS_STATE"].on == 0 %}
        SET_GCODE_VARIABLE MACRO=_LIGHTS_STATE VARIABLE=on VALUE=1
        P0 LED_SetState=1
    {% else %}
        SET_GCODE_VARIABLE MACRO=_LIGHTS_STATE VARIABLE=on VALUE=0
        P0 LED_SetState=0
    {% endif %}
