; Reduce hold current to steppers to potentially reduce wear.
#####################################################################
[delayed_gcode apply_hold_current]
initial_duration: 3
gcode:
  {% if printer["gcode_macro _USER_CONFIG"].enable_hold_current|int == 1 %}
    SET_TMC_CURRENT STEPPER=stepper_x HOLDCURRENT=1.0
    SET_TMC_CURRENT STEPPER=stepper_y HOLDCURRENT=1.0
    SET_TMC_CURRENT STEPPER=stepper_z HOLDCURRENT=0.9
    SET_TMC_CURRENT STEPPER=stepper_z1 HOLDCURRENT=0.9
    SET_TMC_CURRENT STEPPER=extruder HOLDCURRENT=0.5
    _KAOS_LOG LEVEL=2 CATEGORY=STEPPER MSG="Hold currents applied"
  {% else %}
    _KAOS_LOG LEVEL=2 CATEGORY=STEPPER MSG="Hold currents skipped (disabled in config)"
  {% endif %}
