; Reduce hold current to steppers to potentially reduce wear.
#####################################################################
[delayed_gcode apply_hold_current]
initial_duration: 3
gcode:
  {% if printer["gcode_macro _USER_CONFIG"].enable_hold_current|int == 1 %}
    SET_TMC_CURRENT STEPPER=stepper_x HOLDCURRENT=1.0
    SET_TMC_CURRENT STEPPER=stepper_y HOLDCURRENT=1.0
    SET_TMC_CURRENT STEPPER=stepper_z HOLDCURRENT=0.9
    SET_TMC_CURRENT STEPPER=stepper_z1 HOLDCURRENT=0.9
    SET_TMC_CURRENT STEPPER=extruder HOLDCURRENT=0.5
    KAOS_LOG LEVEL=INFO SOURCE=KAOS CATEGORY=STEPPER KEY=hold_currents_applied MSG="Hold currents applied"
  {% else %}
    KAOS_LOG LEVEL=INFO SOURCE=KAOS CATEGORY=STEPPER KEY=hold_currents_skipped_disabled_in_config MSG="Hold currents skipped (disabled in config)"
  {% endif %}
